/* Home page styles */
.home-page {
  text-align: center;
}

.brick {
  width: 400px;
  display: block;
  background: rgba(0,0,0,0.7);
}

@media only screen and (max-width: 600px) {
  .brick {
    width: 350px;
  }
}
