
/*form styles*/

.control-label {
    font-size: 100%;
    padding-bottom: 15px;
    color: #4e5166;
}
.form-control {
    border-radius: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    border-color: rgb(184, 186, 194);
}
.form-control:focus {
    box-shadow: 0px 0px 30px -5px rgba(184, 186, 194, 0.75);
    border-color: #fff;
}
.admin-btn {
  margin-left: 18px;
}

.text-danger {
  margin-left: 6px;
  margin-top: 6px;
  color: #ff1654;
}
#create-page,
#edit-page {
  .form-group {
    padding-bottom: 15px;
  }
}

/*end of form styles*/
