
/* Story page styles */

/* To make the medium div element look like a standard boostrap textarea */
.medium-editor-element {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 300px;
    overflow: auto;
    padding: 2px;
    resize: both;
    width: 100%;
}

#story-form {
  color: $darkblue;
  margin-bottom: 60px;
  .btn {
    width: 100%;
    background: $darkblue;
    font-size: 16px;
  }
  li {
    font-size: 16px;
  }
}
