
#login-page {
  padding-bottom: 100px;
  
  .panel {
  border-radius: 0;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.2);
  }

  .panel-heading {
  text-align:center;
  padding-top: 18px;
  font-size: 1.2em;
  height: 61px;
  margin-bottom: 30px;
  }

  #login-link, #register-link {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  }

  #register-link,
  #login-link {
  color: $darkblue;
  }

  .active {
  color: $green !important;
  margin-right: 15px;
  }

  form {
  display: block;
  }

  .panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
  height: 40px;
  font-size: 16px;
  }

  #login-submit, #register-submit {
  background-color: $darkblue;
  text-decoration: none;
  color: #fff !important;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
  border: 0;
  }


  #login {
  margin-top: 32px;
    }
}
