#my-stories {
  margin-top: 32px;
  .outer {
    padding: 12px;
  }
  .card {
    padding: 12px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    background: white;
  }
  .edit {
    width: 100%;
  }
}
