/*navbar styles*/
.navbar-fixed-top {
    min-height: 80px;
    border: 0;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
}

.navbar-nav > li > a, .navbar-fixed-top .navbar-header {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}

.navbar-default .navbar-nav > li > a{
    color: #4E5166;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #4E5166;
    color: #fff;
}

.navbar-fixed-top .navbar-header .navbar-toggle{
    margin-top: 13px;
    border: 0;
}
.navbar-fixed-top .navbar-header .navbar-toggle:hover,
.navbar-fixed-top .navbar-header .navbar-toggle:focus{
    background: none;
}

.navbar-fixed-top .navbar-header .navbar-toggle .icon-bar{
    height: 3px;
    background: #4E5166;
}

.navbar-fixed-top .navbar-header .navbar-toggle:hover .icon-bar,
.navbar-fixed-top .navbar-header .navbar-toggle:focus .icon-bar{
    background: #7BE5A0;
}

@media (max-width: 767px) {
    .navbar-nav > li > a, .navbar-fixed-top .navbar-header {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
    }
    .navbar-fixed-top .navbar-header .navbar-brand{
    margin-top: -9px;
    }
}
/*end of navbar styles*/

.beta-tag {
  //font-size: 1.3em;
  color: $green;
}
