#navbar {
  background: $darkblue;
  color: white;
  h2 {
    padding: 0;
    margin-top: 14px;
  }
  .navbar-right {
    margin-right: 24px;
    li {
      margin: 4px;
      > * {
        color: $green;
        font-size: 1.2sem;
      }
    }
  }
}
