//
@import './partials/Variables';
@import './partials/General';
// Navbar
@import './partials/Nav';
// Home Page styles
@import './partials/HomeHero';
@import './partials/Masonry';
// Login Page
@import './partials/AuthStyles';
// footer
@import './partials/Footer';
// create and edit form
@import './partials/Form';
// admin page
@import './partials/AdminPage';
// full story page
@import './partials/FullStory'
